@import "bootstrap";

//vendors:
@import "../bower_components/jquery-totop/dist/styles/index.css";


body {
  background: #fff;
}

.global-footer {
  background-color: #303749;
  color: #FFF;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding:40px;
  height:150px;
}

.global-content{
  margin:100px auto 160px;
}
